html{
font-family: 'Karma', serif;

}
body{
    background-color: #FF5E56;
    width:600px;
    margin: 0 auto;
}

h1{
text-align:center;
}

.box{
    display: grid;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: #B86260;
    padding: 1px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}